streamlit
requests
plotly
folium
streamlit-folium
pandas
numpy
scikit-learn==1.7.2
xgboost
--extra-index-url https://download.pytorch.org/whl/cpu
torch
joblib
python-dotenv
sqlalchemy
psycopg2-binary
supabase
